/* body
{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.quiz-container
{
    background-color: white;
    border-radius: 8px;
    text-align: center;
    width:300px;
}
h2
{
    font-size: 1.2em;
    margin-bottom: 20px;
}
.option
{
    display: block;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    background-color: #ddd;
    cursor: pointer;
    font-size: 1em;
    border-radius: 5px;

}
.option:hover
{
    background-color: #acc;
}
button.correct
{
    background-color: green;

}
button.incorrect
{
    background-color: red;
    
}
button.right-option
{
    background-color: blue;
}
#next
{
    margin: 20px;
    padding: 10px 20px;
    background-color: #4caf50;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 1em;
    border-radius: 5px;
}
#next:hover{
    background-color: #45a049;
} */